<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Rekam Medis</title>
</head>

<body style="background-color: rgb(181, 240, 181);">
    <!--Navbar-->
    <div class="container">
        <font color=white>
            <div class="d-flex justify-content-between">
                <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
                    &nbsp;&nbsp;&nbsp;
                    <img src="logo.png" width="60" alt="">
                    <div class="collapse navbar-collapse nav justify-content-center" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <h4>REKAM MEDIS</h4>
                            </li>
                        </ul>
                    </div>
                    <p>Halo, Naufal!</p>&nbsp;&nbsp;&nbsp;&nbsp;
                </nav>
        </font>
    </div>
    </div>
    <!--Navbar-->
    <br><br><br><br>
    <div class="container" style="background-color: white; border-radius: 7px;">
        <center>
            <img src="logo2.png" width="500px">
        </center>
        <br><br>
        &nbsp;&nbsp;&nbsp;Silahkan isi data rekam medis anda di bawah ini!
        <br><br><br>
        <div class="container">
            <form action="">
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col">
                        <div class="row mb-3">
                            <label for="nama" class="col-sm-10 col-form-label">Nama Lengkap</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="nama">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="alamat" class="col-sm-10 col-form-label">Alamat</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="alamat">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="nohp" class="col-sm-10 col-form-label">No Hp</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="nohp">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="usai" class="col-sm-10 col-form-label">Usia</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="usia">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="beratbadan" class="col-sm-10 col-form-label">Berat Badan</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="beratbadan">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="tinggibadan" class="col-sm-10 col-form-label">Tinggi Badan</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="tinggibadan">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Riwayat sakit</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Keluhan terakhir berobat</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <br><br>
                        <!--Button form-->
                        <button type="button" class="btn btn-success">Success</button>


                    </div>
                    <div class="col">
                        
                    </div>
                </div>
            </form>
        </div>
        <br><br><br>
    </div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
</body>

</html>